body {
    margin: 0;
    padding: 0;
    background-color: white;
  }

  .full-width {
    width: 100%;
  }

  header {
    background-color: rgba(233, 150, 122, 0.714);
    padding: 20px;
    border-bottom: 1px solid lightgray; 
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }  

  header h1, header p {
    margin: 0;
  }

  header p i{
    margin-right: 8px;
  }

  .navigation-bar{
    margin-top: 10px;
    margin-left: auto;
  }

  .navigation-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
  }

.navigation-bar ul li {
    display: inline;
}

.navigation-bar ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.navigation-bar ul li a:hover{
    color: gray;
}

main{
    padding: 20px;
}

.body-content{
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-pic img{
    width: 200px;
    height: auto;
}

.profile-text {
    max-width: 600px; 
  }
  
  .profile-text h2 {
    margin-top: 0;
    color: salmon;
  }
  
  .profile-text p {
    margin-top: 10px; 
  }

.skills{
    margin-top: 40px;
}
.skills h2{
    color: salmon;
}
.skill-boxes{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.skill img{
    width: 50px;
    height: auto;
}

.skill-js img{
    width: 70px;
}

.skill-js h4{
    margin: 10px 0 5px;
}

.skill-js p{
    margin: 0;
    color: gray;
}

.skill-cpp img{
    width: 62px;
}

.skill-cpp h4{
    margin: 10px 0 5px;
}

.skill-cpp p{
    margin: 0;
    color: gray;
}

.skill-c img{
    width: 63px;
}

.skill-c h4{
    margin: 10px 0 5px;
}

.skill-c p{
    margin: 0;
    color: gray;
}

.skill-python img{
    width: 63px;
}

.skill-python h4{
    margin: 10px 0 5px;
}

.skill-python p{
    margin: 0;
    color: gray;
}

.skill h4{
    margin: 10px 0 5px;
}

.skill p{
    margin: 0;
    color: gray;
}

.projects h2{
    color: salmon;
    margin-top: 40px;
}

.project p{
    margin: 0;
    color: gray;
}

.recommendations h2{
    color: salmon;
}
.recos{
    display: flex;
    gap: 30px;
}
.reco{
    padding: 20px;
    border: 1px solid gray;
    border-radius: 8px;
    flex: 1;
}

.leave-rec {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leave-rec h2{
    color: black;
}

.leave-rec textarea{
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    resize: none;
}

.leave-rec button {
    padding: 10px 20px;
}
  
.leave-rec button:hover {
    background-color: lightgray; 
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    visibility: hidden;
  }

  #popup .popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #popup button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: salmon;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #popup button:hover {
    background-color: lightgray; 
  }

  .iconbutton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: salmon;
    border-radius: 25%;
    padding: 1px;
    cursor: pointer;
  }
 
  .iconbutton a {
    display: block;
  }
  
  .iconbutton svg {
    display: block;
  }